<h1>
<img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/f2/Premier_League_Logo.svg/420px-Premier_League_Logo.svg.png" alt="EPL" width="200" height="180">
<hr>EPL Fun Facts
</h1>

<ul  class="list-group">

  <li class="list-group-item">
    <a href="/coaches">
      <span class="badge bg-primary rounded-pill">All coaches</span>
    </a>
    <ul>
      <li class="list-group-item">
        <a href="/coaches/youngest">
          Youngest coach
        </a>
      </li>
      <li class="list-group-item">
        <a href="/coaches/eldest">
          Eldest coach
        </a>
      </li>
    </ul>
  </li>
  <li class="list-group-item">
    <a href="/teams">
      All teams
    </a>
    <ul>
      <li class="list-group-item">
        <a href="/teams/most">
          Best team
        </a>
      </li>
      <li class="list-group-item">
        <a href="/teams/least">
          Worst team
        </a>
      </li>
    </ul>
  </li>
  <li class="list-group-item">
    <a href="/players">
      All players
    </a>
  </li>
</ul>
