<div>
  <a href="/">
    Go home
  </a>
</div>

<h1>EPL team with least titles</h1>

<p>The EPL team with the least titles in our records right now is <a href="/teams/<%= @least.id %>"><%= @least.name %></a>, with <%= @least.titles %>.</p>
