<div>
  <a href="/">
    Go home
  </a>
</div>

<h1>EPL team with most titles</h1>

<p>The EPL team with the most titles in our records right now is <a href="/teams/<%= @most.id %>"><%= @most.name %></a>, with <%= @most.titles %>.</p>
